<!DOCTYPE html>
<style>
.content {
  max-width: 500px;
  margin: auto;
}
</style>
<style>
.card {
  border: 3px;
  max-height: 500px;
  overflow-y: scroll;
  text-align:justify;
}
</style>
<html>
<head>
  <link rel="stylesheet" href="chat_log.css">
  <link rel="stylesheet" href="chat_popup.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- <style>
        .vertical {
            border-left: 2px solid grey;
            height: 98%;
            position: absolute;
            left: 73%;
        }
  </style> -->
</head>
<body style = "text-align: center;">
    <div class = "vertical"></div>
</body>
<!-- <body onload="closeForm()"> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="right">
  <!-- <a class="navbar-brand" href="chat_messager.html"></a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    <a class="nav-link" href="https://catapuss.github.io/project_code_compoments/views/userHub/userHub.html?">My Hub</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="https://catapuss.github.io/project_code_compoments/views/ratingSystem/rating_system.html?">My Ratings</a>
    </li>
    <li class="nav-item active">
    <a class="nav-link" href="chat_messager.html">My Messages</a>
    </li>
  </ul>
  <div class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Sign Out</button>
  </div>
  </div>
</nav>

<body onload="openForm()">
<div class="jumbotron text-left" style="padding: 30px;">
    <img src="user_files/image1.png" style="max-width: 80px;width: 100%;margin-right: 20px;border-radius: 50%;"alt="Their avatar">
    <footer>Joe Shmoe</footer>
</div>


<div class="container">
<div class="card border-secondary mb-3" id="window" style="width: 40rem; padding: 10px;">

  <!-- /////////////////dummy code///////////////////////////      v-->
<div class="darker" id="their_messages">
  <img src="user_files/image1.png" alt="Their avatar" class="left">
  <p>Hello. How are you today?</p>
  <p><span class="time-left" id="datetime1" style="font-size: 10px">Date/Time:</span></p>
  <script>
    var dt = new Date();
    var weekday = new Array(7);
      weekday[0] = "Sunday";
      weekday[1] = "Monday";
      weekday[2] = "Tuesday";
      weekday[3] = "Wednesday";
      weekday[4] = "Thursday";
      weekday[5] = "Friday";
      weekday[6] = "Saturday";
    var day = weekday[dt.getDay()];
    document.getElementById("datetime1").innerHTML = day + ", "+ dt.toLocaleString([], {hour: '2-digit', minute:'2-digit'}) + ' (' + dt.toLocaleString([], {month: '2-digit', day: '2-digit'}) + ')';
  </script>
</div>
<div class="blue" id="your_messages">
  <img src="user_files/image2.png" alt="Your avatar" class="right">
  <p>Hey! I'm fine. Thanks for asking!</p>
  <p><span class="time-right" id="datetime2" style="font-size: 10px">Time/Date:</span></p>
  <script>
    var dt = new Date();
    var weekday = new Array(7);
      weekday[0] = "Sunday";
      weekday[1] = "Monday";
      weekday[2] = "Tuesday";
      weekday[3] = "Wednesday";
      weekday[4] = "Thursday";
      weekday[5] = "Friday";
      weekday[6] = "Saturday";
    var day = weekday[dt.getDay()];
    document.getElementById("datetime2").innerHTML = day + ", "+ dt.toLocaleString([], {hour: '2-digit', minute:'2-digit'}) + ' (' + dt.toLocaleString([], {month: '2-digit', day: '2-digit'}) + ')';
  </script>
</div>
<!-- /////////////////dummy code///////////////////////////      ^-->
<!-- card div -->
</div>


<hr>
<style>
.horizontal-line{
        width: 50%;
        margin: auto;
        margin-top: 50%;
        margin-bottom: 50%;
    }
</style>
<section>
<div class="btn" id="sendChat" onclick="openForm()">
  <form class="form-container">
    <button type="btn" class="btn open">Send Message</button>
  </form>
</div>

  <div class="chat-popup" id="popup">
    <form class="form-container">

      <label for="msg"><b>New Message</b></label>
      <textarea placeholder="Type message.." name="msg" id="msg" required></textarea>
      <!-- <input type="text" class="form-control" id="msgTxt" placeholder="Type message..."required="required"> -->
      <button type="button" id="send" class="btn" onclick="post_message()">Send</button>

      <script>
        // Get the input field
        var input = document.getElementById("popup");
        // Execute a function when the user releases a key on the keyboard
        input.addEventListener("keydown", function(event) {
          console.log('content loaded');
          // Number 13 is the "Enter" key on the keyboard
          if (event.keyCode === 13 && document.getElementById('msg').value != null) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("send").click();
          }
        });
        //console.log(event.keyCode);
      </script>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>

  <!-- container div -->
  </div>


  <script src="chat.js"></script>

</section>
</body>
</html>
