<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <style>
    .card-img-top {
      width: 100%;
      height: 24vw;
      object-fit: cover;
    }
    .list-group{
      max-height: 300px;
      margin-bottom: 10px;
      overflow:scroll;
      -webkit-overflow-scrolling: touch;
    }
  </style>
  </head>
  <body>
      <p style="text-align:center; margin-top: 10px; margin-bottom: 20px;"><img src="../resources/img/3.gif" class="centerImage" alt="logo"></p>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 24rem; margin-left: 50px;">
            <img class="card-img-top" src="../resources/img/gang.jpg" alt="Card image cap">
            <div class="card-header">
		<% 
			var username = '';			
			if(data) {			
				username = data.firstname + ' ' + data.lastname;
			}			
		%>              
		<h2 style="text-align: center;"> <%- username %> </h2>
            </div>
            <div class="card-body">
              <p style="text-align: center;"><a class="btn btn-primary" href="edit-profile" role="button" ">Edit profile</a></p>
            </div>
          </div>
        </div>
        <div class="col">
		<div class="btn-group-vertical">
  			<button type="button" class="btn btn-primary btn-lg btn-block" style="width: 400px; margin-top: 120px;">Discussion boards</button>
			<button type="button" class="btn btn-success btn-lg btn-block" style="margin-top: 15px;;">Direct Messaging</button>
			<button type="button" class="btn btn-danger btn-lg btn-block" style="margin-top: 15px;;">Ratings</button>
			<form  action="http://localhost:3000/", method=" post " style="margin-left: 145px; margin-top: 15px;">		
				<button class="btn btn-secondary btn-lg btn-block">Log Out</button>
			</form>
		</div>
        </div>
  </div>
  </div>
  </body>
</html>
