<!-- Base HTML File Structure -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="uft-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>

      <div class="jumbotron">
            <h1 class="display-4">Discussion Board</h1>

        <table id="discussionTable" style="width:100%">

          <tr>
             <th style="text-align:center">Copper</th>
             <th style="text-align:center">Winter Park</th>
             <th style="text-align:center">Eldora </th>
             <th style="text-align:center">Breckenridge</th>
             <th style="text-align:center">Keystone</th>
         </tr>

          <tr>
      <td> </td> <td> </td> <td> </td> <td></td> <td></td>
          </tr>


        </table>

      </div>



    </body>
</html>
