<!-- Base HTML File Structure -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="uft-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>

            <h1 class="display-4">Discussion Board Form</h1>

            <select id="resorts" name="resort">
              <option value="volvo">Copper</option>
              <option value="saab">Winter Park</option>
              <option value="fiat">Eldora</option>
              <option value="audi">Breckenridge</option>
              <option value="audi">Keystone</option>
            </select>

            <textarea name="message" rows="10" cols="30">
            </textarea>

            <button type="button"> Submit </button>





    </body>
</html>
